table{
    border-collapse: collapse;
}
body{
   position: relative;
}
td{
    width: 64px;
    height: 64px;
}
.tiles{
    background-image: url('tile.png');
    background-repeat: no-repeat;
    opacity:0.6;
}
.tiles-permitidas{
   background-color:palevioletred ;
   opacity:0.8;
}
.hero{
    background-image: url('kitty.png');
   
}
.cofre{
    background-image: url('cat-food.png');

}
.oculto {
    display:none;
}
.win{
    background-image: url('winner.jpg') !important;
    background-size: contain;
}
.centro{
    margin-left:30vw;
}

